.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.left-div {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  
}

.center-div {
  /* padding-top: 5%; */
  /* width: 40%; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.right-div {
  /* width: 20%; */
  height: auto;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}