.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-div {
  margin-left: 5%;
  width: 20%;
  height: auto;
}

.center-div {
  padding-top: 5%;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-div {
  width: 20%;
  height: auto;
}