

.image-border {
  fill: transparent;
  stroke: transparent;
  shape-rendering: crispEdges;
}
.image-border:hover {
  stroke: black;
  fill: #69b3a2;
  cursor: pointer;
  opacity: .1;
  border-radius: 5px;
}