.left-div {
  border-left: 1px solid black;
}

.image-border {
  fill: transparent;
  stroke: transparent;
  shape-rendering: crispEdges;
  
}
.image-border:hover {
  stroke: black;
  fill: grey;
  cursor: pointer;
  opacity: .1;
  border-radius: 5px;
}